server:
  port: 8085

services:
  user: http://localhost:8081
  order: http://localhost:8082
  catalog: http://localhost:8083


management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never


